/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.width-50 {
    width: 50%;
}

@media (max-width: 768px) {
    .width-100 {
        width: 100%;
    }
}